<?xml version="1.0" ?>
<!--
/**
 * Copyright © Aventi SAS All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="MGS\InstantSearch\Block\SearchResult\ListProduct" type="Aventi\Catalog\Rewrite\MGS\InstantSearch\Block\SearchResult\ListProduct"/>
    <preference for="Magento\Catalog\Block\Product\ListProduct" type="Aventi\Catalog\Rewrite\Magento\Catalog\Block\Product\ListProduct"/>
    <preference for="MGS\Fbuilder\Block\Products\ProductItem" type="Aventi\Catalog\Rewrite\MGS\Fbuilder\Block\Products\ProductItem"/>
</config>
