<?xml version="1.0" ?>
<!--
/**
 * Copyright © Aventi SAS All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Aventi_Catalog">
		<sequence>
			<module name="MGS_InstantSearch"/>
            <module name="Magento_Catalog"/>
            <module name="MGS_Fbuilder"/>
		</sequence>
	</module>
</config>
