<?xml version="1.0"?>
<!--
/**
 * Copyright © Aventi SAS All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- event catalog_product_is_salable_after -->
    <event name="catalog_product_is_salable_after">
        <observer name="aventi_pricelist_product_available" instance="Aventi\PriceLists\Observer\AdditionalRestrictions\SalableObserver"/>
    </event>
    <!-- event sales_quote_product_add_after -->
    <event name="sales_quote_product_add_after">
        <observer name="aventi_pricelist_product_available" instance="Aventi\PriceLists\Observer\AdditionalRestrictions\QuoteObserver"/>
    </event>
    <!-- event catalog_product_collection_load_after -->
    <event name="catalog_product_collection_load_after">
        <observer name="aventi_pricelist_product_available" instance="Aventi\PriceLists\Observer\AdditionalRestrictions\CollectionObserver"/>
    </event>
    <!-- event catalog_product_load_after -->
    <event name="catalog_product_load_after">
        <observer name="aventi_pricelist_product_available" instance="Aventi\PriceLists\Observer\AdditionalRestrictions\ProductObserver"/>
    </event>
</config>
