<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="sample_gateway" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <fieldset_css>complex bancolombia-wompi-section</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                <label>Wompi Bancolombia</label>
                <comment>Add Wompi payment gateway in your store..</comment>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>

                <field id="wompi_public_key_test" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Llave pública de prueba</label>
                    <tooltip>Esta llave la puede encontrar en el dashboard de la página oficial de wompi.</tooltip>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <validate>required-entry alphanumeric no-whitespace</validate>
                </field>
                <field id="wompi_public_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Llave pública de producción</label>
                    <tooltip>Esta llave la puede encontrar en el dashboard de la página oficial de wompi.</tooltip>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <validate>required-entry alphanumeric no-whitespace</validate>
                </field>

                <field id="wompi_event_key_test" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Llave de eventos para pruebas</label>
                    <tooltip>Esta llave la puede encontrar en el dashboard de la página oficial de wompi.</tooltip>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <validate>required-entry alphanumeric no-whitespace</validate>
                </field>
                <field id="wompi_event_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Llave de eventos para producción</label>
                    <tooltip>Esta llave la puede encontrar en el dashboard de la página oficial de wompi.</tooltip>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <validate>required-entry alphanumeric no-whitespace</validate>
                </field>

                <field id="wompi_integrity_key_test" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Llave de integridad para pruebas</label>
                    <tooltip>Esta llave la puede encontrar en el dashboard de la página oficial de wompi.</tooltip>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <validate>required-entry alphanumeric no-whitespace</validate>
                </field>
                <field id="wompi_integrity_key" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Llave de integridad para producción</label>
                    <tooltip>Esta llave la puede encontrar en el dashboard de la página oficial de wompi.</tooltip>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <validate>required-entry alphanumeric no-whitespace</validate>
                </field>

                <field id="test_mode" sortOrder="90" translate="label" type="select" showInDefault="1"
                        showInWebsite="1"
                        showInStore="0">
                    <label>Tipo de ambiente</label>
                    <tooltip>Si quiere realizar pruebas seleccione el tipo de ambiente "Sandbox", para usar el modulo en producción con dinero real seleccione la opcion "Producción".</tooltip>
                    <source_model>Bancolombia\Wompi\Model\System\Config\Mode</source_model>
                    <comment>ADVERTENCIA Para pruebas "Sandbox" y su llave pública debe comenzar con "pub_test". Para producción "Producción" y su llave pública debe comenzar con "pub_prod".</comment>

                </field>
                <field id="wompiredirect" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Wompi Redirect</label>
                    <tooltip>Url de redireccionamiento a su tienda con el resultado de la transacción</tooltip>
                </field>
            </group>
        </section>
    </system>
</config>
 
