<?xml version="1.0" ?>
<!--
/**
 * Copyright © 2025
 * Aventi SAS All rights reserved.
 * See COPYING.txt for license details.
 * Refactor module: Cesar Robledo <arobledo@aventi.co>
 * Magento 2.4.5-p11
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Aventi_Csp"/>
</config>
