<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="BancolombiaWompiFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Bancolombia\Wompi\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Bancolombia\Wompi\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">BancolombiaWompiValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BancolombiaWompiCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="BancolombiaWompiConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Bancolombia\Wompi\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with BancolombiaWompiConfig -->
    <virtualType name="BancolombiaWompiLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">BancolombiaWompiConfig</argument>
        </arguments>
    </virtualType>

    <type name="Bancolombia\Wompi\Gateway\Http\Client\ClientMock">
        <arguments>
            <argument name="logger" xsi:type="object">BancolombiaWompiLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="BancolombiaWompiCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">BancolombiaWompiAuthorizeCommand</item>
                <item name="capture" xsi:type="string">BancolombiaWompiCaptureCommand</item>
                <item name="void" xsi:type="string">BancolombiaWompiVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="BancolombiaWompiAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">BancolombiaWompiAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">BancolombiaWompiResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Bancolombia\Wompi\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Bancolombia\Wompi\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="BancolombiaWompiAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Bancolombia\Wompi\Gateway\Request\AuthorizationRequest</item>
                <item name="mockData" xsi:type="string">Bancolombia\Wompi\Gateway\Request\MockDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Bancolombia\Wompi\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">BancolombiaWompiConfig</argument>
        </arguments>
    </type>

    <!-- Capture command -->
    <virtualType name="BancolombiaWompiCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Bancolombia\Wompi\Gateway\Request\CaptureRequest</argument>
            <argument name="handler" xsi:type="object">Bancolombia\Wompi\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Bancolombia\Wompi\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Bancolombia\Wompi\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Bancolombia\Wompi\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request -->
    <type name="Bancolombia\Wompi\Gateway\Request\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">BancolombiaWompiConfig</argument>
        </arguments>
    </type>

    <!-- Void command -->
    <virtualType name="BancolombiaWompiVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Bancolombia\Wompi\Gateway\Request\VoidRequest</argument>
            <argument name="handler" xsi:type="object">Bancolombia\Wompi\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Bancolombia\Wompi\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Bancolombia\Wompi\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Bancolombia\Wompi\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Void Request -->
    <type name="Bancolombia\Wompi\Gateway\Request\VoidRequest">
        <arguments>
            <argument name="config" xsi:type="object">BancolombiaWompiConfig</argument>
        </arguments>
    </type>

    <!-- Response handlers -->
    <virtualType name="BancolombiaWompiResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Bancolombia\Wompi\Gateway\Response\TxnIdHandler</item>
                <item name="fraud" xsi:type="string">Bancolombia\Wompi\Gateway\Response\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="BancolombiaWompiValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BancolombiaWompiConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="BancolombiaWompiConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BancolombiaWompiConfig</argument>
        </arguments>
    </virtualType>

    <type name="Bancolombia\Wompi\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">BancolombiaWompiConfig</argument>
        </arguments>
    </type>



     <type name="Bancolombia\Wompi\Controller\Checkout\Start">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session</argument>
            <argument name="config" xsi:type="object">BancolombiaWompiConfig</argument>
        </arguments>
    </type>



     <type name="Bancolombia\Wompi\Controller\Response\Result">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session</argument>
            <argument name="config" xsi:type="object">BancolombiaWompiConfig</argument>
        </arguments>
    </type>

     <type name="Bancolombia\Wompi\Api\PostManagementInterface">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session</argument>
            <argument name="config" xsi:type="object">BancolombiaWompiConfig</argument>
        </arguments>
    </type>

    <preference for="Bancolombia\Wompi\Api\PostManagementInterface" type="Bancolombia\Wompi\Model\PostManagement"/>

</config>

