<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aventi" title="AVENTI SOLUTIONS" translate="title"
             module="Aventi_Core" sortOrder="20" resource="Magento_Backend::content"/>

        <add id="Aventi_Core::home" title="Configuration" translate="title"
             module="Aventi_Core" sortOrder="9999" parent="Aventi" resource="Magento_Backend::content"/>

        <add id="Aventi_Core::general_setting" title="General Settings" translate="title"
             module="Magento_Backend" sortOrder="10" parent="Aventi_Core::home"
             action="adminhtml/system_config/edit/section/aventi_core" resource="Magento_Backend::content"/>
    </menu>
</config>
