<?xml version="1.0"?>
<!--
/**
 * @author Aventi Team
 * @copyright Copyright (c) 2021 Aventi
 * @package Aventi_Core
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aventi" translate="label" sortOrder="10" class="aventi-tab avcore-tab-container">
            <label>Aventi Solutions</label>
        </tab>
        <section id="aventi_core" translate="label" type="text" sortOrder="-5000" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Core Configuration</label>
            <tab>aventi</tab>
            <resource>Aventi_Core::config</resource>
            <group id="extensions" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Installed Extensions</label>
                <frontend_model>Aventi\Core\Block\Adminhtml\Extensions</frontend_model>
            </group>
            <group id="information" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>System Information</label>
                <frontend_model>Aventi\Core\Block\Info</frontend_model>
            </group>
        </section>
    </system>
</config>
