<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="pago" frontName="pago">
            <module name="Bancolombia_Wompi" />
        </route>
        <route id="response" frontName="response">
            <module name="Bancolombia_Wompi" />
        </route>
    </router>
</config>
