<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_customer_account_createpost">
        <observer name="validate_name_lastname" instance="Aventi\CustomerRegister\Observer\ValidateNameLastNameObserver" />
    </event>
    <event name="controller_action_predispatch_customer_account_editpost">
        <observer name="validate_name_lastname" instance="Aventi\CustomerRegister\Observer\ValidateNameLastNameObserver" />
    </event>
</config>
