//**
//** Aventi
//** https://www.aventi.co/ 
//**
//  *********************************************

//
//  All devices
//  _____________________________________________

& when (@media-common = true)  {

    #html-body {
        // Cards products
        .product.product-item {
            padding: 0;
            box-shadow: 0px 4px 15px transparent;
            max-width: none;
            &:hover {
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.11);
                padding: 0;

                .details.product-item-details {
                    .action-mobile {
                        form {
                            button.action.tocart.btn-cart.primary {
                                visibility: visible;
                            }
                        }
                    }
                }
            }

            .product-top {
                background-color: @white;
                &:hover {
                    a.product {
                        &::after {
                            background: transparent;
                            transition: unset;
                        }
                    }

                    .product-label {
                        display: block;
                    }
                }

                a.product {
                    padding-bottom: 100% !important; // Le llega un padding-bottom desde el elemento
                    &::after {
                        background: transparent;
                        transition: unset;
                    }
                }

                ul.actions-link {
                    top: 10px;
                    left: 10px;

                    .action.tocompare,
                    .action.quickview {
                        display: none;
                    }

                    .action.towishlist {
                            background-color: @white;
                            border-radius: 50%;
                            border: none;
                            width: 35px;
                            height: 35px;
                            min-height: unset;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-shadow: none;
    
                            &::before {
                                display: none;
                            }
    
                            i {
                                &::before {
                                    display: block;
                                    content: url('https://api.iconify.design/teenyicons/heart-outline.svg?color=%231c3ba3&width=20&height=20');
                                    line-height: 1;
                                    margin-top: 1px;
                                }
                            }
                            
                            &:hover {
                                background-color: @color-primary;

                                i {
                                    &::before {
                                        content: url('https://api.iconify.design/teenyicons/heart-solid.svg?color=white&width=20&height=20');
                                    }
                                }
                            }
                        }
                }

                .product-label.multiple-label {
                    margin: 0;
                }

                .product-label.sale-label {
                    background: @background-color-discount;
                    border-radius: 100%;
                    height: 45px;
                    width: 45px;
                    right: 6px;
                    top: 6px;
                    span {
                    line-height: 44px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                }
                }

                // New label

                .product-label.new-label {
                    background: @grey;
                    border-radius: 4px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 10.5px;
                    line-height: 23px;
                    text-align: center;
                    display: block;
                    color: @white;
                    left: 0;
                    top: 12px;
                }
            }

            .details.product-item-details {
                padding-top: 0px;

                ._container_reviews {
                    display: grid;
                    place-content: center;
                    height: 28px;
                    max-height: 28px;

                    div.product-reviews-summary {
                        margin: unset
                    }
                }

                .product.name {
                    margin: unset;
                    min-height: 38px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .product-item-link {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19px;
                        text-align: center;
                        color: @black;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        max-height: 48px;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }

                div.product-reviews-summary {
                    display: grid;
                    place-content: center;
                    margin: 8px 0 8px;

                    div.rating-summary {
                        transform: scale(1.5);
                        margin: unset;

                        div.rating-result::before {
                            font-weight: 510;
                            color: @black;
                        }

                        div.rating-result > span:before {
                            font-weight: 550;
                            color: @start-background;
                        }
                    }
                }
            

                // Price

                .price-box.price-final_price {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: center;
                    .price {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19px;
                        text-align: center;
                        color: @black;
                    }
                    .special-price {
                        * {
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 19px;
                            text-align: center;
                            color: @black;
                        }
                    }
                    .old-price {
                        text-decoration: unset;
                        * {
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 11px;
                            text-align: center;
                            text-decoration-line: line-through;
                            color: @color-secondary;
                        }
                    }
                }

                .action-mobile {
                    form {
                        button.action.tocart.btn-cart.primary {
                            width: 100%;
                            border: 0;
                            border-radius: 0;
                            position: unset;
                            transform: none;
                            opacity: 1;
                            visibility: hidden;

                            span.text {
                                display: block;
                            }

                            span.icon {
                                display: none;
                            }
                        }
                    }
                }
            }
        } 

        //styles to wishlist cards
        .products-grid,
        .products-list {

            //mosaic cards in wishtlist
            &.wishlist {

                .product-items {
                    display: grid;
                    gap: 20px;
                    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                    margin: 0;
                    
                    .product-item {
                        border-radius: 0;
                        background-color: @white;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        position: relative;
                        border: none;

                        .product-item-info {
                            padding: 0;
                            border-radius: 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .product-item-photo{
                                background-color: @white;
                                border-radius: 0 0 0 0;
                                padding: 0;
                                display: flex;
                
                                .product-image-wrapper {
                                    padding-bottom: 100% !important; // Tiene un estilo quemado en el elemento
                                }
                            }
                
                            .product-item-name {
                                height: 44px;
                                text-decoration: none;
                                display: flex;
                                align-items: center;
                                margin: 0;
                                justify-content: center;
            
                                a{
                                    text-align: center;
                                    font-size: 16px;
                                    color: @black; 
                                    font-size: 14px;
                                    line-height: normal;
                                    font-weight: 500;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    max-height: 48px;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                        
                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
                            }
            
                            .price-box .price-as-configured{
                                display: flex;
                                flex-direction: row-reverse;
                                align-items: center;
                                justify-content: center;
                                gap: 6px;

                                .special-price,
                                > .price-container.price-final_price {
                                    .price {
                                        font-size: 20px;
                                        font-weight: 700;
                                        color: @black;
                                    }
                                }

                                .old-price {
                                    .price {
                                        font-size: 12px;
                                        font-weight: 500;
                                        color: @gray-neutral-4;
                                    }
                                }
                            }

                            .tooltip.product-item-tooltip {
                                display: none;
                            }

                            .product-item-inner {
                                display: block;
                                padding: 0;

                                .field.comment-box {
                                    display: none;
                                }

                                .box-tocart {

                                    .fieldset {
                                        margin: 0;
                                        flex-direction: column;
                                        gap: 15px;
    
                                        .field.qty {
                                            display: none;
                                            width: 100%;
                                            padding: 0;

                                            .input-text.qty {
                                                width: 100%;
                                            }
                                        }
                    
                                        .product-item-actions{
                                            width: 100%;
                                            margin: 0;

                                            .actions-primary {
                                                width: 100%;
    
                                                button{
                                                    width: 100%;
                                                    background-color: @color-secondary;
                                                    border: 0;
                                                    color: @white;
                                                    border-radius: 0;

                                                    span {
                                                        display: none;
                                                    }
    
                                                    .text {
                                                        display: flex;
                                                        justify-content: center;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                } 

                                .product-item-actions {
                                    display: flex;
                                    justify-content: center;
                                    margin: 0;

                                    .action {
                                        line-height: 40px;
                                        
                                        i {
                                            display: none;
                                        }

                                        &.edit {
                                            display: none;
                                        }
    
                                        &.delete {
                                            position: absolute;
                                            top: 10px;
                                            left: 10px;
                                            background-color: @white;
                                            border-radius: 50%;
                                            border: none;
                                            width: 35px;
                                            height: 35px;
                                            min-height: unset;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            box-shadow: none;
                    
                                            &::before {
                                                display: none;
                                            }
                    
                                            i {
                                                display: block;

                                                &::before {
                                                    display: block;
                                                    content: url('https://api.iconify.design/tabler/heart-x.svg?color=%23DC041C&width=20&height=20');
                                                    line-height: 1;
                                                    margin-top: 1px;
                                                }
                                            }
                                            
                                            &:hover {
                                                background-color: @color-secondary;

                                                i {
                                                    &::before {
                                                        content: url('https://api.iconify.design/tabler/heart-x.svg?color=white&width=20&height=20');
                                                    }
                                                }
                                            }
                                        }

                                        &:hover {
                                            border: none;
                                            background-color: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: @screen_1999) {
    #html-body {
        // Cards products
        .product.product-item {
            max-width: 90%;
            margin-right: 5%;
            margin-left: 5%;
        }
    }
}

// General para todos los mobile.
@media screen and (max-width: @screen_766) {
    #html-body {
        // Cards products
        .product.product-item {
            max-width: 100%;
            margin: unset;
            .details.product-item-details {
                .action-mobile {
                    form {
                        button.action.tocart.btn-cart.primary {
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }    
}

// Query para solucionar el problema de los productos en la home.
@media screen and (max-width: @screen_766) and (min-width: @screen_500) {
    #html-body {
        .discounts-products {
            // Cards products
            .product.product-item {
                max-width: 80%;
                margin-right: 10%;
                margin-left: 10%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    body#html-body {

        //styles to wishlist cards
        .products-grid,
        .products-list {

            //mosaic cards in wishtlist
            &.wishlist {

                .product-items {
                    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                }
            }
        }
    }
}