//**
//** Aventi
//** https://www.aventi.co/
//**
//**
//** @author    Daniel Estupiñán
//**
//  *********************************************

//
//  All devices
//  _____________________________________________

// Product categories setup columns to add space between products

#html-body {

    // Instant search
    &.mgs-instant-search-page.instantsearch-result-index .product.description.product-item-description{
        display: none;
    }

    // Default columns

    @media (min-width: 1200px) {
        .product-item.col-tb-3 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: ~"calc(25% - 20px)";
            margin-left: 10px !important;
            margin-right: 10px !important;
        }
    }

    // Three columns

    @media (min-width: 600px) and (max-width: 1199.98px) {
        .product-item.col-tb-3 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 33%;
            flex: 0 0 33%;
            max-width: ~"calc(33% - 20px)";
            margin-left: 10px !important;
            margin-right: 10px !important;
        }
    }

    // Two columns

    @media (min-width: 450px) and (max-width: 599.9px) {
        .product-item.col-tb-3 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: ~"calc(50% - 30px)";
            margin-left: 15px !important;
            margin-right: 15px !important;
        }
    }

    // One column

    @media (max-width: 449.9px) {
        .product-item.col-tb-3 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: ~"calc(100% - 40px)";
            margin-left: 20px !important;
            margin-right: 20px !important;
        }
    }
}

& when (@media-common =true) {
    #html-body.catalog-category-view {
        .breadcrumbs {
            background: #fff;

            a {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #7b7b7b !important;

                &:hover {
                    color: @color-primary !important;
                }
            }
        }

        .change-product-per-row {
            display: none;
        }

        .category-product-actions {
            border-bottom: 1px solid #b6bac0;
            padding-bottom: 20px;

            .form-item-select {
                border: 1px solid @color-primary;
                border-radius: 2px;
                select {
                    font-family: "Montserrat";
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    color: @color-primary;
                }
            }

            .action.sorter-action {
                border: 1px solid @color-primary;
                border-radius: 2px;
                font-family: "Montserrat";
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: @color-primary;
            }

            .modes {
                display: none;
            }
        }
        
        .sidebar.sidebar-main {
            padding-right: 30px;
            border-top: 1px solid #b6bac0;
            margin-top: 4.4em;

            .block-content.filter-content {
                background-color: @grey-light;
                padding: 30px 15px;
                margin: 0;
                h2 {
                    font-family: "Montserrat";
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 15px;
                }
                .filter-options-title {
                    background: #ffffff;
                    border-radius: 4px;
                    padding: 10px 20px;
                    margin: 0;

                    font-family: "Montserrat";
                    font-weight: 400;
                    color: #424242;
                    font-size: 14px;
                    line-height: 18px;

                    &::before {
                        display: none;
                    }

                    &::after {
                        right: 10px;
                        top: 11px;
                        content: url("https://api.iconify.design/material-symbols/arrow-forward-ios-rounded.svg?color=%23424242&rotate=90deg");
                    }
                }

                .filter-options-item {
                    margin-bottom: 10px;

                    &.active {
                        .filter-options-title {
                            border-radius: 2px 2px 0px 0px;
                        }

                        .filter-options-content {
                            border-radius: 4px;
                            padding: 10px 20px;
                            background: #ffffff;
                        }

                        .filter-options-title::after {
                            content: url("https://api.iconify.design/material-symbols/arrow-forward-ios-rounded.svg?color=%23424242&rotate=270deg");
                        }
                    }
                }

                .filter-options-item:last-child {
                    margin: 0;
                }
            }
        }
    }



    body#html-body.catalog-category-view {

        #maincontent {

            .product.product-item .product-item-info,
            .product-item-info.product-item.item.product  {

                .product-top {

                    a.product {
                        height: 180px;
                    }

                }

                // Detail

                .product.product-item-details {
                    padding-top: 0px;

                    div.product-reviews-summary {
                        display: grid;
                        place-content: center;
                        margin: 8px 0 8px;
                        
                        div.rating-summary {
                            transform: scale(1.5);
                            margin: unset;

                            div.rating-result::before {
                                font-weight: 510;
                                color: @black;
                            }

                            div.rating-result > span:before {
                                font-weight: 550;
                                color: #FFDD26;
                            }
                        }
                    }
                }

            }

        }

    }

    body#html-body.instantsearch-result-index {

        #maincontent {

            .product.product-item .product-item-info,
            .product-item-info.product-item.item.product  {

                .product-top {

                    a.product {
                        height: 215px;
                    }

                }
            }
        }
    }


}


@media screen and (max-width: 800px) {

    body#html-body.catalog-category-view #maincontent {

        div.category-product-container.product-container {
            display: grid;
            gap: 12px;

            div.products.products-grid {  
                display: grid;
                place-content: center;
                ol.products.product-items {
                    width: 310px;
                    max-width: 311px;

                    li.item.product.product-item-info.product-item  {
                        display: grid;
                        gap: 5px;
                        div.product-top {

                            a.product.product-item-photo {
                                height: 250px;
                                img.product-image-photo {
                                    transform: scale(0.85);
                                }   

                            } 

                        }

                        overflow: hidden;
                    }
                }

            }

        }

    }
    
}