//**
//** Aventi
//** https://www.aventi.co/
//**
//**
//** @author    Daniel Estupiñán
//**
//  *********************************************

//
//  All devices
//  _____________________________________________

// Product categories setup columns to add space between products

#html-body {
    // Instant search
    &.mgs-instant-search-page.instantsearch-result-index .product.description.product-item-description{
        display: none;
    }
}

& when (@media-common =true) {

    #html-body.catalog-category-view {
        
        .breadcrumbs {
            background: @white;
            margin: unset;
            
            a {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: @grey-dark !important;

                &:hover {
                    color: @color-primary !important;
                }
            }
        }

        .change-product-per-row {
            display: none;
        }

        .columns {
            padding-top: 13px;
            position: relative;
            &::before {
                content: '';
                height: 1px;
                background-color: @grey-m;
                left: 0;
                right: 0;
                position: absolute;
                top: 7px;
                margin: 0 15px;
            }
        }

        .category-product-actions {
            padding-bottom: 19px;

            .form-item-select {
                border: 1px solid @color-primary;
                border-radius: 2px;
                select {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    color: @color-primary;
                }
            }

            .action.sorter-action {
                border: 1px solid @color-primary;
                border-radius: 2px;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: @color-primary;
            }

            .modes {
                display: none;
            }
        }

        .sidebar.sidebar-main {
            padding-right: 30px;
            margin-top: 30px;

            .block-content.filter-content {
                background-color: @grey-light;
                padding: 30px 15px;
                margin: 0;
                h2 {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 15px;
                }
                .filter-options-title {
                    background: @white;
                    border-radius: 4px;
                    padding: 10px 20px;
                    margin: 0;

                    font-weight: 400;
                    color: @filter-option-title;
                    font-size: 14px;
                    line-height: 18px;

                    &::before {
                        display: none;
                    }

                    &::after {
                        right: 10px;
                        top: 11px;
                        content: url("https://api.iconify.design/material-symbols/arrow-forward-ios-rounded.svg?color=%23424242&rotate=90deg");
                    }
                }

                .filter-options-item {
                    margin-bottom: 10px;

                    &.active {
                        .filter-options-title {
                            border-radius: 2px 2px 0px 0px;
                        }

                        .filter-options-content {
                            border-radius: 4px;
                            padding: 10px 20px;
                            background: @white;
                        }

                        .filter-options-title::after {
                            content: url("https://api.iconify.design/material-symbols/arrow-forward-ios-rounded.svg?color=%23424242&rotate=270deg");
                        }
                    }
                }

                .filter-options-item:last-child {
                    margin: 0;
                }
            }
        }

        sidebar.sidebar-additional {
            display: none;
        }
    }

    body#html-body {

        &.catalog-category-view {
            .page-wrapper {

                #maincontent {

                    #filter-container {
                        margin: auto;
                        padding: 0 15px;
                        max-width: 1200px;
                        .filter-active {
                            border: none;

                            span.shoppingby-item div.state-item {
                                background: @white;
                                color: var(--theme__color__primary);
                                border: 1px solid var(--theme__color__primary);
                                border-radius: 2px;

                                a span {
                                    color: var(--theme__color__primary);
                                }

                                span.state-item-remove span.state-item-icon-cancel {

                                    &::after {
                                        background: var(--theme__color__primary);
                                    }

                                }

                            }

                        }

                    }

                    .columns {
                        div.block-content.filter-content {
                            div.block-filter-content {
                                div.smile-es-range-slider {
                                    div.slider-label {
                                        div {
                                            background: transparent;
                                            color: @black;
                                        }
                                    }

                                    div.slider-action {

                                        a.ui-slider-handle,
                                        div.ui-slider-range.ui-widget-header {
                                            background: @background-filter;
                                        }

                                        div.actions-primary {
                                            a.action.primary  {
                                                border-radius: 4px;
                                                background: @primary-button-background;
                                                &:hover {
                                                    background: @primary-button-background-hover;
                                                    color: @color-white;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    div.product-container.category-product-container {
                        div.category-product-actions {
                            padding-right: 15px;
                            .form-item-select {
                                &:after {
                                    top: 2px;
                                    color: var(--theme__color__primary);
                                }

                                select {
                                    height: 27px;
                                }
                            }

                            .action.sorter-action.sort-asc {
                                display: none !important; // Le llega estilos con un !important
                            }
                        }
                    }

                }

                div.breadcrumbs {
                    ul.items {
                        li.item {
                            line-height: normal;
                        }
                    }
                }

            }
        }

        &.instantsearch-result-index {
            ol.products.product-items {
                place-items: center;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                gap: 15px;

                li.item.product.product-item {
                    margin: unset;
                    width: 100%;
                    max-width: 90%;

                    &:hover {
                        .action-mobile {
                            .action.tocart.btn-cart {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }

                    .action-mobile {
                        margin-top: 40px;
                        position: relative;
                        .action.tocart.btn-cart {
                            position: absolute;
                            width: 100%;
                            border: 0;
                            border-radius: 0;
                        }
                    }
                }
            }
        }

        &.instantsearch-result-index,
        &.catalogsearch-result-index,
        &.catalog-category-view {
            ol.products.product-items {
                display: grid;
                gap: 13px;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            }
        }
    }

}

@media screen and (max-width: 1200px) {

    body#html-body.catalog-category-view  {

        .columns {

            &::before {
                top: -2px;
            }
        }

        .page-wrapper {

            .breadcrumbs {
                margin-bottom: 15px;
            }

           #maincontent {

                div.product-container.category-product-container {
                    display: grid;
                    gap: 30px;

                        div.category-product-actions {
                            position: unset;
                            top: unset;
                            right: unset;
                            border-bottom: unset;
                            padding: unset;
                            margin: unset;

                            .form-item-select {
                                margin-top: 4px;
                                select {
                                    height: 27px;
                                }

                                &::after {
                                    top: 2px;
                                    color: @color-primary;
                                }

                            }

                            .action.sorter-action {
                                line-height: 9px;
                            }

                            .action.sorter-action.sort-desc,
                            .action.sorter-action.sort-asc {
                                    margin-top: 4px;
                                    border: unset;
                                    height: 30px;
                                    width: 30px;
                                    padding: unset;
                                    position: relative;
                                    &::after {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        content: url('https://api.iconify.design/system-uicons/grid.svg?color=%234a4f55&width=32&height=32');
                                    }
                            }

                        }

                        div.filter-toggle {
                            a.title {
                                display: flex;
                                width: 3em;
                                height: 28px;
                                border-radius: 2px;
                                background: @bg-gray-black;
                                box-shadow: 0px 0.5px 2px 0px rgba(0, 0, 0, 0.10);


                                span.icon.pe-7s-edit {
                                    color: @black;
                                    text-align: center;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px;
                                    transform: rotate(0);
                                    width: -webkit-fill-available;
                                    height: -webkit-fill-available;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    &::before {
                                        content: unset;
                                    }
                                }

                                &::before {
                                    color: @black_secunday;
                                }
                            }
                        }

                }

                .sidebar.sidebar-main {
                    border-top: unset;
                    margin-top: unset;
                    padding-top: unset;
                    height: 0;
                }

            }

        }
    }
}

@media screen and (max-width: @screen_800) {

    body#html-body {

        &.catalog-category-view {
            .columns {
                &::before {
                    display: none;
                }
            }

            .page-wrapper {

                div.breadcrumbs {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 0px;
                }

                #page-title-wrapper {
                    display: grid;
                    place-items: center;
                    width: -webkit-fill-available;
                    height: 10em;
                    padding: unset;
                    background: var(--theme__color__primary);

                    h1 > span {
                        color: @white;
                        text-align: center;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                    }

                    &::before {
                        background-color: transparent;
                    }

                    &.ttbg-image {
                        margin-bottom: unset;
                    }

                }


                #maincontent {

                    .sidebar.sidebar-main {
                        border-top: unset;
                    }

                    div.product-container.category-product-container {
                        border: unset;
                        overflow: hidden;

                        div.category-product-actions {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                            align-items: center;
                            overflow: hidden;

                            div.filter-toggle {
                                float: unset;
                                width: max-content;
                            }

                            div.toolbar.toolbar-products {
                                width: ~"calc(100% - 108px)";
                            }
                        }
                    }
                }

            }
        }

        &.instantsearch-result-index {
            ol.products.product-items {
                li.item.product.product-item {
                    .action-mobile {
                        .action.tocart.btn-cart {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &.instantsearch-result-index #maincontent,
        &.catalogsearch-result-index #maincontent {

            .search.results {
                div.products.products-grid {
                    display: grid;
                    place-content: center;
                    ol.products.product-items {
                        width: 95vw;
                        max-width: unset;
                        margin-top: unset;
                    }

                }
            }
        }

        .page-header .header-area.header2.search-visible .middle-header .counter.qty {
            z-index: 9999;
        }

        &.instantsearch-result-index,
        &.catalogsearch-result-index,
        &.catalog-category-view {
            ol.products.product-items {
                display: grid;
                gap: 13px;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}