//**
//** Aventi
//** https://www.aventi.co/
//**
//**
//** @author    Daniel Estupiñán
//**
//  *********************************************

//
//  Common
//  _____________________________________________


// Primary
@color-primary: var(--theme__color__primary);
@color-secondary:  var(--link__color);


// Megamenu
@aventi_navigation__background:  var(--navigation__background);

// Header
@topbarbg: var(--topbarbg);
@topbarcolor: var(--topbarcolor);
@header_icons_background: var(--header-icons-color);
@header_background_color: var(--header__background-color);

// buttons

@primary-button-background: var(--button-primary__background);
@primary-button-background-hover: var(--button__hover__color);
@primary-button-color-text: var(--button__color);
@primary-button-color-text-hover: var(--button-primary__hover__color);
@product-button-background: var(--product-button-primary__background__color);

@grey: var(--text__color);
@grey-light: #F1F5FA;
@grey-m: #B6BAC0;
@grey-clear:  #D9DFE7;
@grey-dark: #7b7b7b;

@blue-hover: var(--link__hover__color);
@blue-selected: #002E68;
@blue-disabled: #8CA9C9;

@black: #000000;
@white: #fff;

// Footer
@background-newsletter: var(--footer__background-color);

// Icon colors
@icon-color: var(--icon_base_color);

// Background Color Discount
@background-color-discount: var(--descount_base_color);

@background-footer: #FFFFFF;
@black_secunday: #1F2021;
@blue-hover-button: #0C4D9F;
@disabled-backgroun-checkout: #B6BAC0;
@label-color-checkout: #4A4F55;
@color-text-checkout: #191616;
@color-hover-newsletter: #DC041C;
@color-dtop-active: #132D4A;
@color-dtop-normal: #829FC1;
@filter-option-title: #424242;
@start-background: #FFDD26;
@background-filter: #428bca;
@bg-gray-black: #E8E6E6;


//font
@roboto-font: 'Roboto';
@Montserrat-font: "Montserrat";

// Media Queries
@screen_500: 500px;
@screen_840: 840px;
@screen_800: 800px;
@screen_396: 396px;
@screen_766: 766px;
@screen_500: 500px;
@screen_1111: 1111px;
@screen_1999: 1999px;