//**
//** Aventi
//** https://www.aventi.co/ 
//**
//  *********************************************

//
//  Common
//  _____________________________________________


// Primary

@primary-red: #E3001B;
@primary-green: #86B626;


// Neutral

@black: #000000;
@white: #fff;
@primary-gray:#4C4B49;
@medium-gray: #DEDEDE;
@light-gray: #F5F5F5;
