//**
//** Aventi
//** https://www.aventi.co/
//**
//**
//** @author    Daniel Estupiñán
//**
//  *********************************************

//
//  All devices
//  _____________________________________________

& when (@media-common =true) {


    body#html-body {

        small.copyright {
            display: none;
        }

        //Estilos para el footer
        footer.page-footer {

            small.copyright {
                display: block;
            }

            .box-container-aux-footer-bottom {
                display: grid;
                place-content: flex-end;
                width: 100%;
                height: auto;
                overflow: hidden;
            }


            .box-style-footer-bottom {
                display: flex;
                height: 2em;


                p > {
                    font-family: 'Arial', sans-serif;
                    font-weight: 400;
                    font-size: 12px;
                    font-style: normal;
                    color: @black_secunday;
                    padding: unset;
                    margin: unset;
                    display: grid;
                    place-content: center;
                    width: 11.3em;
                }

                > img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }

            > div > div.footer2 {

                //Footer Top
                > div.top-footer {
                    background: @background-footer;
                }

                //Footer Middle 
                > div.middle-footer {
                    background: @background-footer;

                    > div.frame > div.line {
                        justify-content: space-between;

                        > div:first-child {
                            display: grid;
                            place-content: center;
                            flex: 0 0 25%;
                            max-width: 25%;
                        }

                        > div:nth-child(2) {
                            flex: 0 0 25%;
                            max-width: 25%;
                        }

                        > div:nth-child(3) {
                            flex: 0 0 20%;
                            max-width: 20%;
                        }

                        > div:nth-child(4) {
                            flex: 0 0 0.5%;
                            max-width: 0.5%;
                        }

                        > div:last-child {
                            flex: 0 0 25%;
                            max-width: 25%;
                        }

                    }

                }

                //Footer Bottom
                > div.bottom-footer {
                        //solo border top
                        border-top: 4px solid @color-primary;
                        border-bottom: unset;
                        background: @white;

                        .copyright address {
                            line-height: normal;
                            align-self: center;
                        }

                        > div.frame > div.line > div {
                            display: grid;
                            flex: 0 0 50%;
                            max-width: 50%;
                        }

                        small.copyright {
                            line-height: unset;
                            color: @black_secunday;
                            font-family: 'Arial', sans-serif;
                            font-size: 12px;
                            font-weight: 400;
                            font-style: normal;
                            padding-bottom: unset;

                            > span {
                                font-size: 12px;
                            }
                        }
                }

            }

        }

        .box-container-contact-us {
            display: grid;
            place-content: center;
            gap: 0.5em;

            > p {
                font-size: 16px;
                text-align: center;
            }

            .container-redes-sociales-box {
                display: flex;
                gap: 2em;
                justify-content: center;
                align-items: center;
            }
        }

        .container-text-information-footer {
            padding-left: 1em;

            > p {
                font-size: 12px;
                font-weight: 400;
                font-style: normal;
                text-align: left;
                color: @grey;
                font-family: 'Inter', sans-serif;
                display: flex;
            }

            > p:first-child {
                font-style: normal;
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
            }

        }

        .container-text-information-footer#contact-social-network-container {

            > p {
                padding-left: unset;
            }

            > p.box-social-network-contact-us {
                justify-content: flex-start;
            }

        }

        .box-social-network-contact-us {
            display: flex;
            gap: 2em;
            justify-content: center;
            align-items: center;
        }


        ._icon_footer_ubication_ {
            content: url('https://api.iconify.design/ep/location.svg?color=%23004088&width=20&height=20');
            margin-right: 0.5em;
        }

        ._icon_footer_phone_ {
            content: url('https://api.iconify.design/carbon/phone.svg?color=%23004088&width=20&height=20');
            margin-right: 0.5em;
        }

        ._icon_footer_email_ {
            content: url('https://api.iconify.design/fluent/mail-20-regular.svg?color=%23004088&width=20&height=20');
            margin-right: 0.5em;
        }


    }

    ._mobile_social_network_,
    ._logo_footer_mobile_ {
        display: none;
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}

//
//  Mobile
//  _____________________________________________


.media-width(@extremum, @break)
    when
    (@extremum ="max")
    and
    (@break =@screen__m) {

}


@media screen and (max-width: 750px) {

    ._logo_footer_desktop_ {
        display: none;
    }

    ._mobile_social_network_,
    ._logo_footer_mobile_ {
        display: block;
    }


    body#html-body {
        
        .header-mobile-tabs--bottom {
            display: none;
        }


        .container-text-information-footer {

            > p:first-child {
               font-size: 16px;
            }

        }

        //Estilos para el footer
        footer.page-footer {

            > div > div.footer2 {

                //Footer Middle 
                > div.middle-footer {
                    padding: 0;
                    //general estilos para los divs
                    > div.frame > div.line  {
                    
                        > div {
                            display: flex;
                        }


                        > div:first-child,
                        > div:nth-child(4) {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }

                        > div:nth-child(2) {
                            flex: 0 0 100%;
                            max-width: 100%;

                            div.container-text-information-footer {
                               > p {
                                  justify-content: center;
                                  align-items: center;

                                  > span {
                                    display: none;
                                  }

                               }
                            }

                        }

                        > div:nth-child(3),
                        > div:nth-child(5) {
                            flex: 0 0 50%;
                            max-width: 50%;
                        }

                        > div:first-child {
                            margin-bottom: unset;
                            margin: 1.3em 0 1.3em 0;
                        }

                        > div:nth-child(3) {
                            order: 2;
                        }

                        > div:nth-child(5) {
                            order: 3;
                        }

                        > div:nth-child(2) {
                            order: 4;
                            margin-bottom: unset;
                            > div {
                               width: 100%;
      
                                  > div.container-text-information-footer {
      
                                      > p:first-child {
                                          text-align: center;
                                      }
      
                                  }
                            }
      
                        }

                        > div:nth-child(4) {
                            display: none;
                        }


                    }

                }

                //Footer Bottom
                > div.bottom-footer {
                    padding: 26px 0;
                    > div.frame > div.line {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        > div {
                            display: grid;
                            flex: 0 0 100%;
                            max-width: 100%;

                            &:last-child {
                                > div > div.box-container-aux-footer-bottom {
                                    place-content: unset;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    a.box-style-footer-bottom {
                                        width: 11.3em;
                                    }
                                }
                            }

                        }
                        
                    }

                }

            }

        }


        #contact-social-network-container {

             > p.box-social-network-contact-us,
             > p.box-social-network-contact-us {
                display: none;
             }

        }

        
         
    }

}

@media screen and (max-width: 360px) {


    body#html-body {

        //Estilos para el footer
        footer.page-footer {

            > div > div.footer2 {

                //Footer Middle 
                > div.middle-footer {

                    //general estilos para los divs
                    > div.frame > div.line  {

                        > div:nth-child(3),
                        > div:nth-child(5) {
                            flex: 0 0 100%;
                        }
                    }
                }
            }

        }

    }

    
}