//**
//** Aventi
//** https://www.aventi.co/
//**
//**
//** @author    Daniel Estupiñán
//**
//  *********************************************

//
//  All devices
//  _____________________________________________

& when (@media-common =true) {


    body#html-body {
        h1,
        h2,
        h3,
        p,
        b,
        a,
        span,
        label,
        address,
        th,
        td,
        option,
        strong,
        .filter-options-title,
        li {
            font-family: "Montserrat";
        }

        ._margin-top {
            top: 0px;
            padding-top: 61px;

            .owl-dots {

                .owl-dot.active {
                    span {
                        background: @color-dtop-active;
                    }
                }

                .owl-dot {
                    span {
                        background: @color-dtop-normal;
                    }
                }

            }
        }

        //categories-section, por si los demas slider van a tener flechas
        .categories-section {
            .slider_mgs_carousel.owl-carousel {

                .owl-nav {
            
                    &:hover ,
                    &.disabled{
                        display: none !important;
                    }
            
                    > div {
                        display: none;
            
                        &:hover{
                            display: none;
                        }
                    }
                }

            }
        }

        //color hover general a las etiquetas a
        a {
            &:hover {
                color: @color-secondary;
            }
        }

        // Botones generales
        button,
        .btn,
        .action {
            border-radius: 4px;
            font-family: "Roboto";
            font-weight: 600;
            font-size: 14px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            height: 40px;
            margin: 0px;

            span {
                font-family: "Roboto";
                font-weight: 600;
                font-size: 14px;
            }
        }

        // Primary
        button.btn-primary,
        button.primary,
        .primary .action:not(.btn-secondary),
        .authentication-wrapper .action,
        a.btn-default,
        .action.delete {
            color: @primary-button-color-text;
            background: @primary-button-background;
            border: 1px solid @color-primary;
            transition: all 0.1s ease-in-out;

            span {
                color: @primary-button-color-text;
            }

            &:hover {
                background: @primary-button-background-hover;
                border: 1px solid @primary-button-background;
            }

            &:active {
                background-color: @blue-selected;
                border: 1px solid @blue-selected;
            }
        }

        // Secondary
        a.btn-secondary,
        button.btn-secondary,
        .secondary a.action.btn-default,
        a.action.edit.btn {
            background: @background-footer;
            border: 1px solid @color-primary;
            color: @color-primary;
            transition: all 0.1s ease-in-out;

            span {
                color: @color-primary;
            }

            &:hover {
                border: 2px solid @blue-hover;
                color: @blue-hover;
                span {
                    color: @blue-hover;
                }
            }

            &:active {
                border: 1px solid @blue-selected;
                color: @blue-selected;
                span {
                    color: @blue-selected;
                }
            }
        }

        .mgs-instant-search-dropdown {
            .mgs-instant-autocomplete-wrapper {
                div.no-result {
                    font-family: "Roboto" , sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    color: @black_secunday;
                    padding: 0.6em;
                    font-style: normal;
                }
            }
        }

    }

    // Inputs generales

    .field {
        .control {
            input,
            textarea,
            select {
                border: 1px solid #b6bac0;
                border-radius: 4px;
                height: 40px;
                font-style: normal;
                
                &:hover,
                &:focus,
                &:active {
                    background: #dcdcdc2b;
                    border: 1px solid @color-primary;
                }
            }
        }

        .label {
            font-family: "Montserrat";
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: @grey;
            padding-bottom: 3px;
            margin-bottom: 0px !important;
        }
    }

    // Slider card product

    .block.products.items.widget.mgs-products.product-items {
        .owl-nav {
            right: 30px;
            > div {
                opacity: 1 !important;
                visibility: visible !important;
                border: none !important;
            }
        }

        @media (max-width: 767px) {
            .owl-item.active {
                transform: scale(1.07);
                transition: all 0.3s ease-in-out;
            }
        }
    }

    body#html-body.catalog-product-view,
    body#html-body #maincontent{
        // Cards products
        .product.product-item{
            padding: 0 15px !important;

            // Button add to cart
            .action-mobile button.action.btn-cart.primary, .action-mobile .action.tocart.btn-cart {
                transform: none;
                position: relative;
                margin: 0;
                visibility: hidden;
                opacity: 0;
                transition: all 0.25s ease;
                border: none;
                padding: 8px;

                left: -15px;
                width: ~"calc(30px + 100%)";
                border-radius: 0;
                // Font

                font-family: "Roboto";
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: @primary-button-color-text;

                background: @product-button-background;

                .icon.pe-7s-shopbag {
                    display: none;
                }

                @media (max-width: 1200px) {
                    visibility: visible;
                    opacity: 1;
                    bottom: 0;
                    top: unset;
                    margin: 0;

                    span.text {
                        display: block !important;
                    }
                }
            }
        }

        .product.product-item .product-item-info,
        .product-item-info.product-item.item.product  {
            padding: 0px 15px;
            
            @media (max-width: 1200px) {
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            }

            &:hover {
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.11);

                .action-mobile button.action.btn-cart.primary, .action-mobile .action.tocart.btn-cart {
                    visibility: visible !important;
                    opacity: 1 !important;
                    bottom: 0;
                    top: unset;
                    margin: 0;
                }
            }
            .product-top {
                overflow: visible;
                &:hover {
                    .product-label.sale-label {
                        display: block !important;
                    }
                    a::after {
                        display: none !important;
                    }
                }

                a {
                    padding: unset !important;
                    height: 250px;
                    background: #fff;
                }

                .actions-link.actions-secondary {
                    display: none;
                }
            }

            // Detail

            ._container_reviews {
                display: grid;
                place-content: center;
                height: 28px;
                max-height: 28px;

                div.product-reviews-summary { 
                    margin: unset
                }
            }

            .product.product-item-details {
                padding-top: 0px;
                //min-height: 90px;

                .product.name {
                    margin: unset;
                    min-height: 38px;
                    display: flex !important;
                    justify-content: center;
                    align-items: center;
                    .product-item-link {
                        font-family: "Roboto";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19px;
                        text-align: center;
                        color: #000000;
                    }
                }

                div.product-reviews-summary {
                    display: grid;
                    place-content: center;
                    margin: 8px 0 8px;
                    
                    div.rating-summary {
                        transform: scale(1.5);
                        margin: unset;

                        div.rating-result::before {
                            font-weight: 510;
                            color: @black;
                        }

                        div.rating-result > span:before {
                            font-weight: 550;
                            color: #FFDD26;
                        }
                    }
                }
            }

            // Price

            .price-box.price-final_price {
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                .price {
                    font-family: "Roboto";
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: #000000;
                }
                .special-price {
                    * {
                        font-family: "Roboto";
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19px;
                        text-align: center;
                        color: #000000;
                    }
                }
                .old-price {
                    * {
                        font-family: "Roboto";
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 11px;
                        text-align: center;
                        text-decoration-line: line-through;

                        color: @color-secondary;
                    }
                }
            }

            // Labels

            .product-label.multiple-label {
                margin: 0;
            }

            .product-label.sale-label {
                background: @color-secondary;
                border-radius: 100%;
                height: 45px;
                width: 45px;
                right: -6px;
                top: 6px;
                span {
                    line-height: 44px;
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                }
            }

            // New label

            .product-label.new-label {
                background: @grey;
                border-radius: 4px;

                font-family: "Roboto";
                font-style: normal;
                font-weight: 600;
                font-size: 10.5px;
                line-height: 23px;
                text-align: center;
                display: block;
                color: #ffffff;
                left: 0;
                top: 12px;
            }
        }
    }

    // Finish cards products

    .owl-carousel .owl-nav > div:not(.disabled):hover {
        background: transparent !important;

        span {
            color: @color-secondary !important;
        }
    }
}

body,
html {
    p::selection,
    *::selection {
        color: #fff;
        background-color: @color-primary;
    }
}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break)
    when
    (@extremum = "min")
    and
    (@break = @screen__m) {
}

// Tablet

@media (min-width: 768px) {
    body:not(.active-builder) {
        .hidden-desktop {
            display: none !important;
        }
    }
}

//
//  Mobile
//  _____________________________________________

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }

    @media (max-width: 500px) {
        #html-body
            > div.page-wrapper
            > header
            > div
            > div.middle-header {
            a > img,
            strong
            > img {
                left: -5px;
                position: relative;
                max-width: 200px !important;
            }
            }
    }
}

@media screen and (max-width: 800px) {

    body#html-body {

    .login-container {
        margin-top: 100px;

        .block .block-title {
            margin-bottom: 3px;
        }
        
    }

    .mgs-instant-search-dropdown {
        left: 0;
        right: 0;
        margin: 0 -14px 0 -14px;
    }

    #maincontent {

        ._title_mobile_descuentos {
            text-transform: capitalize;
            margin-left: 3.35em;
        }

        .categories-section {
            .slider_mgs_carousel.owl-carousel {
                .owl-stage-outer.owl-height {
                    height: 580px !important; // en mobile se le inserta un alto al elemento y agrega un space
                }
            }
        }

        div.discounts-products {

            div.sale-products-grid.products-grid {
                div.owl-stage-outer {
                    height: 320px !important; //Magento le inserta un alto en elemento

                    div.owl-stage {
                        div.owl-item {
                            div.product.product-item  {
                                div.product-item-info {
                                    position: relative;
                                    display: grid;
                                    height: 271px;
                                    div.product-top {
                                        overflow: hidden;
                                        a.product.product-item-photo  {
                                            height: 150px;
                                            overflow: hidden;

                                            img {
                                                transform: scale(1.2);
                                                object-fit: scale-down;
                                                height: -webkit-fill-available;
                                            }

                                            div,span {
                                                background: @white;
                                            }
                                        }

                                        span.product-label.sale-label {
                                            height: 40px;
                                            width: 40px;
                                            right: 0px;

                                            span {
                                                line-height: 41px;
                                                font-size: 12px;
                                            }

                                        }

                                    }

                                    div.product.product-item-details {
                                        display: grid;
                                        place-content: center;

                                        h5.product.product-item-name {
                                            a.product-item-link {
                                                font-size: 14px;
                                            }
                                        }

                                        div.price-box.price-final_price {
                                            span.special-price {
                                                span.price-container.price-final_price {
                                                    span.price-wrapper span.price {
                                                      font-size: 14px;
                                                    }
                                                }
                                            }
                                        }

                                    }

                                    div.action-mobile {
                                        display: grid;
                                        align-items: flex-end;

                                        form {
                                            button {
                                                background:@product-button-background;
                                                height: 34px;
                                                opacity: 1;
                                            }
                                        }
                                    }

                                }
                            }
                        }
                    }

                }
            }

        }

    }

    }
  
}


// checkout success page
.checkout-onepage-success {
    .breadcrumbs {
        background: #fff;
        .item {
            li,
            a,
            span {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: @grey-dark;
            }
        }
    }
    .checkout-success {
        border: 1px solid @grey-clear;
        border-radius: 0;

        p {
            font-family: "Montserrat";
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #333333;
            margin-bottom: 2px;
        }

        .order {
            margin-bottom: 26px;
        }

        .title {
            font-style: normal;
            font-weight: 600;
            color: #004088;
        }

        a {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #333333;
        }
    }

    #registration {
        > div {
            text-align: center;
            p {
                margin: 0;
                font-family: "Montserrat";
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #1f2021;
            }

            .action.primary {
                background: @grey-clear;
                border-radius: 4px;
                margin-top: 10px;
                span {
                    font-family: "Roboto";
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;

                    color: @color-primary;
                }
            }
        }
    }
}
