//**
//** Aventi
//** https://www.aventi.co/
//**
//**
//** @author    Daniel Estupiñán
//**
//  *********************************************

//
//  All devices
//  _____________________________________________

& when (@media-common =true) {
    #html-body .page-header {
        border: none;
        .header-area.header2.search-visible {
            .top-header * {
                font-family: "Roboto";
                font-weight: 600;
                font-size: 12px;
                line-height: 14px;

                color: @color-primary;

                @media (max-width: 767px) {
                    display: none;
                }
            }

            .middle-header {
                @media (max-width: 767px) {
                    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
                }

                .table-icon-menu > div {
                    padding: 10px 10px 10px 0;
                }

                .search-form {
                    display: none;
                }

                .default-logo {
                    max-width: 320px;
                }
                .minicart-wrapper {
                    svg path {
                        fill: @color-secondary;
                    }

                    .action.showcart:before {
                        display: none !important;
                    }
                }
                .logo-wrapper {
                    justify-content: center;
                    @media (max-width: 1200px) {
                        justify-content: inherit;
                    }
                }
                .right-content {
                    gap: 40px;
                    @media (max-width: 767px) {
                        gap: 0px;
                    }
                }
                .action.top-links.theme-header-icon {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
                .header-top-links {
                    svg path {
                        fill: @color-secondary;
                    }
                    position: relative;
                    .header-acccount {
                        left: -42%;
                        right: unset;
                        box-shadow: none;

                        .header.links {
                            > li {
                                border: none;
                                a {
                                    font-family: "Montserrat";
                                    font-weight: 400;
                                    line-height: 18px;
                                }

                                &:hover {
                                    a {
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }

                    .link-header {
                        font-family: "Roboto";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 16px;

                        color: @color-primary !important;
                    }
                }

                .counter.qty {
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    left: 0;
                    top: 0px;
                    opacity: 0;
                }
            }

            .bottom-content {
                .search-form {
                    .block.block-search {
                        position: static;
                        background: none;
                        opacity: 1;
                        visibility: visible;
                        .block-content {
                            form.form.minisearch {
                                padding: 0;
                                margin: 6px 6px 6px 6px;
                                background-color: #fff;
                                max-width: none;
                                border: 1px solid #d9dfe7;
                                border-radius: 32px;

                                .input-text {
                                    border: none;
                                    position: unset !important;
                                    border-radius: 40px;
                                    font-size: 14px;
                                    text-align: left;
                                    padding-left: 30px;
                                    height: 34px;
                                    line-height: 36px;
                                    color: #878787;
                                }

                                .action.search {
                                    display: block;
                                    visibility: visible;
                                    opacity: 1;

                                    background: @color-secondary;
                                    border: 1px solid @color-secondary;
                                    border-radius: 0px 16px 16px 0px;
                                    right: -1px;
                                    height: 36px;
                                    width: 42px;
                                    top: -1px;
                                    padding: 0 !important;

                                    &::before {
                                        content: url(/media/aventi/icons/search.svg);
                                    }
                                }
                            }
                        }
                    }
                    .actions-search {
                        display: none;
                    }
                }

                background-color: #222222;
                .vertical-title {
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 500;
                    color: #fff;
                    background-color: @color-primary-dark;
                    height: 50px;
                    line-height: 50px;
                    padding: 0 28px;
                    cursor: pointer;
                    flex-basis: 100%;

                    font-family: "Montserrat";
                    font-weight: 600;
                    font-size: 18px;

                    .fa {
                        margin-right: 15px;
                    }
                }
            }
            .vertical-menu-widget {
                position: relative;
                .vertical-menu {
                    padding-bottom: 31px;
                }
                .vertical-menu {
                    position: absolute;
                    top: 100%;
                    background-color: #fff;
                    left: 0;
                    right: 0;
                    z-index: 10;
                }
            }
        }
    }

    .menu-wrapper {
        display: none !important;
    }

    // Hidden toolbar mobile
    .section-toolbar-mobile {
        display: none;
    }

    // Mega menu

    .widget.megamenu-widget.vertical-menu-widget {
        .vertical-menu {
            .category-menu.level0 {
                a.level0 {
                    color: #424242 !important;
                    span {
                        color: #424242 !important;
                    }
                }

                a.level0 {
                    color: #424242 !important;

                    svg {
                        width: 20px;
                        height: 20px;
                        position: relative;
                        left: -9px;
                        top: 5px;
                        margin-right: -3px;
                    }

                    .icon-next {
                        display: none;
                    }
                }
                &.dropdown {
                    position: relative;
                    a.level0.dropdown-toggle {
                        color: #424242 !important;

                        svg {
                            width: 20px;
                            height: 20px;
                            position: relative;
                            left: -9px;
                            top: 5px;
                            margin-right: -3px;
                        }

                        .icon-next {
                            display: none;
                        }
                    }

                    .toggle {
                        &::after {
                            content: url("https://api.iconify.design/material-symbols/arrow-forward-ios-rounded.svg?rotate=90deg");
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 18px 16px 9px;
                            cursor: pointer;
                        }
                    }

                    .dropdown-menu {
                        position: static;
                        transition: all 0.3s ease;
                        opacity: 0;
                        visibility: hidden;
                        display: none !important;
                        box-shadow: none;

                        li a {
                            font-family: "Montserrat";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 18px;
                            color: #424242 !important;
                            border: none;
                        }
                    }

                    &.active {
                        a.level0.dropdown-toggle {
                            background: @color-primary !important;

                            span {
                                color: #fff !important;
                            }

                            svg {
                                color: #fff;
                            }
                        }

                        .toggle {
                            &::after {
                                content: url("https://api.iconify.design/material-symbols/arrow-forward-ios-rounded.svg?color=white&rotate=270deg");
                            }
                        }

                        .dropdown-menu {
                            opacity: 1;
                            display: block !important;
                            visibility: visible;
                            transform: none;
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

@media (max-width: 1200px) {
    .header-area.header2 {
        .logo-wrapper {
            .action {
                svg path {
                    fill: @color-secondary;
                }
            }
        }
    }

    .menu-wrapper {
        display: block !important;
    }
}
//
//  Mobile
//  _____________________________________________

@media (max-width: 767px) {
    #html-body .header-area.header2.search-visible {
        .middle-header {
            .search-form {
                display: block !important;

                svg path {
                    fill: @color-secondary;
                }
            }
        }
    }
}
