//**
//** Aventi
//** https://www.aventi.co/
//**
//**
//** @author    Daniel Estupiñán
//**
//  *********************************************

//
//  All devices
//  _____________________________________________

& when (@media-common =true) {
    .dots-data-active {
        display: flex !important;
        flex-direction: column-reverse !important;
        .owl-dots {
            position: relative !important;
            display: flex !important;
            gap: 30px;
            justify-content: center !important;

            .owl-dot {
                button {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                    color: #4a4f55;
                    background: transparent;
                    border: none;
                }

                &.active {
                    button {
                        color: #004088;
                    }
                    border-bottom: 2px solid #004088;
                }
            }
        }
        .owl-item {
            > div {
                display: flex;
                align-items: stretch;
                .item-image {
                    width: 70%;
                }
                .slide-text {
                    width: 50%;
                    display: block;
                    position: static;
                    transform: none !important;

                    display: flex;
                    align-content: center;
                    align-items: center;

                    h2,
                    h1,
                    h3,
                    h4,
                    p {
                        font-family: "Montserrat";
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 36px;
                        text-align: center;
                        margin-bottom: 20px;
                        color: #ffffff;
                    }

                    p {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                    }

                    > div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    button,
                    a {
                        background: #ffffff;
                        border-radius: 4px;
                        font-family: "Roboto";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        /* line-height: 19px; */
                        text-align: center;
                        color: #004088;
                        border: none;
                    }

                    // TODO: el background tiene que ser personalizable desde el fbuilder
                    //background: #515b19;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

@media (max-width: 1200px) {
}

@media (max-width: 1100px) {
    .dots-data-active {
        .owl-item {
            > div {
                display: flex;
                align-items: stretch;
                flex-direction: column;
                .item-image {
                    width: 100%;

                    img{
                        width: 150%;
                        object-fit: cover;
                        max-width: none;
                    }
                }
                .slide-text {
                    width: 100%;
                    max-width: 1300px !important;

                    h2,
                    h1,
                    h3,
                    h4,
                    p {
                        font-family: "Montserrat";
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 36px;
                        text-align: center;
                        margin-bottom: 20px;
                        color: #ffffff;
                    }

                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        text-align: center;
                        display: block !important;
                    }

                    > div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    button,
                    a {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                    }

                    // TODO: el background tiene que ser personalizable desde el fbuilder
                    background: linear-gradient(
                       1.78deg,
                       #515b19 66.87%,
                      rgb(196 200 175 / 0%) 98.41%);
                    position: relative;
                    top: -120px !important;
                    padding-top: 100px;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break)
    when
    (@extremum ="max")
    and
    (@break =@screen__m) {
}
