//**
//** Aventi
//** https://www.aventi.co/
//**
//**
//** @author    Daniel Estupiñán
//**
//  *********************************************

& when (@media-common =true) {
    //  olvidaste tu contraseña

    body#html-body {

        &.customer-account-forgotpassword .form.password.forget {
            max-width: 700px;
            min-width: 0;
            margin: auto;

            .action.captcha-reload {
                display: inline-block;
                color: @color-primary;
                background: @grey-clear;
                border: 1px solid @color-primary;
                span {
                    color: @color-primary;
                }
            }

            .actions-toolbar-form {
                .line {
                    div:nth-child(1) {
                        max-width: 150px;
                        .action.back {
                            color: @color-primary;
                            background: @grey-clear;
                            border: 1px solid @color-primary;
                            span {
                                color: @color-primary;
                            }
                        }
                    }
                    div:nth-child(2) {
                        max-width: none;
                        width: 100%;
                        flex: 1;
                        .action.btn-primary {
                            width: 100%;
                        }
                    }
                }
                @media (max-width: 460px) {
                    .line {
                        div:nth-child(1) {
                            max-width: none;
                            width: 100%;
                            .action.back {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        &.customer-account-login {

            #minicart-content-wrapper h3.close-minicart {
                line-height: 50px;
            }
            h2 {
                font-family: @Montserrat-font;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: @color-primary;
            }

            .field.note,
            #maincontent p {
                font-family: @Montserrat-font;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;

                color: #191616;
            }

            .block.block-customer-login {
                width: 45%;

                form.form.form-login {
                    background-attachment: fixed;

                    fieldset.fieldset.login {
                        div.field.password {
                            div.control {
                                position: relative;
                                #password-toggle.password-toggle {
                                    display: grid;
                                    place-content: center;
                                    position: absolute;
                                    top: 0;
                                    right: 1em;
                                    height: 100%;
                                    width: min-content;
                                    z-index: 9;

                                    svg {
                                        height: 20px;
                                    }
                                }
                            }
                        }
                    }

                }

            }

            .block.block-new-customer {
                width: 45%;
                clear: initial;
                float: right;

                .actions-toolbar .primary {
                    width: 100%;
                    a {
                        width: 100%;
                    }
                }
            }

            .action.login.btn.btn-primary {
                width: 100%;
            }

            .page-title-wrapper {
                display: none;
            }

            .action.remind {
                text-decoration-line: underline;
            }

            .secondary {
                margin-top: 25px;

                .action.remind {
                    font-family: @Montserrat-font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: @grey;
                    margin-top: 20px;

                    &:hover {
                        color: @color-primary;
                    }
                }
            }
        }

    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .hidden-desktop {
        display: none;
    }
}

// Mobile

@media (max-width: 767px) {
    body#html-body.customer-account-login {

        .block.block-customer-login {
            width: 100%;
            max-width: 500px;
            margin: auto;
        }
        .hidden-mobile {
            display: none;
        }

        .secondary {
            width: 100%;
            display: flex;
            justify-content: right;
            text-align: right;
        }

        h3 {
            font-family: @Montserrat-font;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #191616;
        }

        h2 {
            text-align: center;
        }

        .field.note,
        p {
            text-align: center;
        }

        .block.block-new-customer {
            float: unset;
            clear: unset;
            width: 100%;
            max-width: 500px;
            margin: auto;
            margin-top: 40px;
        }

        .action.remind {
            text-align: right;
        }

        .block.block-new-customer p {
            display: none;
        }
    }
}
