//**
//** Aventi
//** https://www.aventi.co/
//**
//**
//** @author    Daniel Estupiñán
//**
//  *********************************************

& when (@media-common =true) {
    body#html-body.customer-account-login {
        h2 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: @color-primary;
        }

        .field.note,
        p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;

            color: #191616;
        }

        .block.block-customer-login {
            width: 45%;
        }

        .block.block-new-customer {
            width: 45%;

            .actions-toolbar .primary {
                width: 100%;
                a {
                    width: 100%;
                }
            }
        }

        .action.login.btn.btn-primary {
            width: 100%;
        }

        .page-title-wrapper {
            display: none;
        }

        .action.remind {
            text-decoration-line: underline;
        }

        .secondary {
            margin-top: 25px;

            .action.remind {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: @grey;
                margin-top: 20px;

                &:hover {
                    color: @color-primary;
                }
            }
        }
    }
}

// Mobile

@media (max-width: 767px) {
    body#html-body.customer-account-login {
        .block.block-customer-login {
            width: 100%;
            max-width: 500px;
            margin: auto;
        }
        .hidden-mobile {
            display: none;
        }

        .secondary {
            width: 100%;
            text-align: right;
        }

        h3 {
            font-family: "Montserrat";
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #191616;
        }

        h2 {
            text-align: center;
        }

        .field.note,
        p {
            text-align: center;
        }

        .block.block-new-customer {
            width: 100%;
            max-width: 500px;
            margin: auto;
            margin-top: 40px;
        }

        .action.remind {
            text-align: right;
        }

        .block.block-new-customer p {
            display: none;
        }
    }
}
