//  All devices
& when (@media-common =true) {
   body#html-body {

        &.customer-account-create,
        &.customer-account-login {
            .social-login-authentication-channel.account-social-login {
                width: 100%;
                margin-top: unset;
                .block-content {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;

                    .actions-toolbar {
                        display: grid;
                        place-content: center;

                        a.btn.btn-block.btn-social {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 4px;
                            width: 220px;
                            height: 40px;
                            padding: 6px 8px;
                            background-color: @grey-clear;
                            color: @color-primary;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 20px;

                            > span {
                                position: unset;
                                background: none;
                                height: 30px;
                                border-right: unset;

                                &.fa-google {
                                    &::before {
                                        content: url('https://api.iconify.design/flat-color-icons/google.svg?color=white&width=30&height=30');
                                    }
                                }

                                &.fa-facebook {
                                    &::before {
                                        content: url('https://api.iconify.design/fluent-mdl2/facebook-logo.svg?color=%23004993&width=30&height=30');
                                    }
                                }
                            }

                            &:hover {
                                color: @color-primary;
                            }
                        }
                    }
                }
            }

            .container_title_networks {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: 25px;

                span {
                    margin-bottom: unset;
                }

                span.line {
                    width: 35%;
                    height: 1px;
                    background: #ccc;
                }

                span.title {
                    width: 30%;
                    color: @blue-title-social;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: center;
                }
            }
        }
   }
}

@media screen and (max-width: 1000px) {
    body#html-body {
        &.customer-account-create,
        &.customer-account-login {

            .container_title_networks {

                span.line {
                    width: 25%;
                }

                span.title {
                    width: 50%;
                }
            }
        }
    }
}