

//**
//** Aventi
//** https://www.aventi.co/
//**
//**
//**
//  *********************************************

//
//  All devices
//  _____________________________________________

& when (@media-common =true) {


    body#html-body.catalog-product-view {

        div#product-slider-related {

            ._container_review {
                display: grid;
                place-content: center;
                width: -webkit-fill-available;
                min-height: 28px;

                div.product-reviews-summary {
                    div.rating-summary {
                        z-index: 9;
                        transform: scale(1.5);

                        div.rating-result::before {
                            font-weight: 510;
                            color: @black;
                        }

                        div.rating-result > span:before {
                            font-weight: 550;
                            color: #FFDD26;
                        }
                    }
                }


            }

            div.owl-stage {

                > div.owl-item {

                    > div.product.product-item {

                        > div.product-item-info {

                            &:hover {

                                div.product.product-item-details {

                                    div.actions form button {
                                        opacity: 1;
                                    }
                                }

                            }

                            div.product.product-item-details {

                                .product.name {
                                    .product-item-link {
                                        font-size: 13.2px;
                                    }
                                }

                                .price-box.price-final_price {
                                    .price-wrapper ,
                                    .special-price {
                                        .price {
                                            font-size: 13.2px;
                                        }
                                    }

                                    span.old-price {
                                        text-decoration: unset;
                                        span.price-container.price-final_price  {
                                            text-decoration: unset;
                                            span.price-wrapper {
                                                text-decoration: unset;
                                                span.price {
                                                    font-size: 12px;
                                                }
                                            }
                                        }
                                    }

                                }

                                div.actions {
                                    margin-top: 1em;
                                    form button {
                                        opacity: 0;
                                        background: @color-secondary;
                                        border: 1px solid @color-secondary;
                                        width: -webkit-fill-available;
                                        border-radius: 0;

                                        span {
                                            color: @primary-button-color-text !important;
                                            font-family: "Roboto";
                                            font-weight: 600;
                                            font-size: 16px;
                                            line-height: 19px;
                                            text-align: center;
                                        }
                                    }

                                }
                            }


                        }

                    }

                }

            }

        }


        .product.product-item {
            margin-bottom: unset;
        }

        .product.product-item .product-item-info,
        .product-item-info.product-item.item.product  {

            .product-top {

                a {
                    padding-bottom: 100% !important; // Llega un !important desde el element

                    img {
                        object-fit: scale-down;
                    }
                }

            }
        }


    }


}



@media screen and (max-width: 768px) {

    body#html-body.catalog-product-view {

        div#product-slider-related {

            ._container_review {
                min-height: unset;
                height: 16px;

                 div.product-reviews-summary {
                    margin: 11px 0 5px;
                    div.rating-summary {
                            transform: scale(1.1);
                    }
                 }

            }

            div.owl-stage {
                height: 300px;
                overflow: hidden;
                > div.owl-item {
                    width: 177.375px !important; //Magento inserta desde el element un ancho

                    > div.product.product-item {
                        padding: 0 5px !important;

                        div.product-item-info {
                            display: grid;
                            place-content: center;
                            padding: 0px 8px;

                            div.product-top {
                                background: @white;
                                overflow: hidden;
                                a.product.product-item-photo  {

                                    img {
                                        transform: scale(1);
                                        height: -webkit-fill-available;
                                        width: -webkit-fill-available;
                                    }

                                    div,span {
                                        background: @white;
                                    }
                                }


                                span.product-label.sale-label {
                                    height: 40px;
                                    width: 40px;
                                    right: 0px;

                                    span {
                                        line-height: 41px;
                                        font-size: 12px;
                                    }

                                }

                            }

                            div.product.product-item-details {
                                display: grid;
                                place-content: center;
                                gap: 2px;

                                div.price-box.price-final_price {
                                    align-items: center;
                                    flex-wrap: unset;
                                    height: auto;
                                    overflow: hidden;

                                    span.special-price {
                                        span.price-container.price-final_price {
                                            span.price-wrapper span.price {
                                                font-size: 12px;
                                            }
                                        }
                                    }

                                    span.old-price {
                                        text-decoration: unset;
                                        span.price-container.price-final_price  {
                                            text-decoration: unset;
                                            span.price-wrapper {
                                                text-decoration: unset;
                                                span.price {
                                                    font-size: 8px;
                                                }
                                            }

                                        }
                                    }

                                    span.price-container.price-final_price  {

                                        span.price-wrapper {

                                            span.price {
                                                font-size: 12px;
                                            }
                                        }

                                    }

                                }

                                h5.product.product-item-name {
                                    min-height: auto;
                                    a.product-item-link {
                                        -webkit-line-clamp: 1;
                                        font-size: 12px;
                                    }
                                }

                                div.actions {
                                    margin-top: unset;
                                    form {
                                        button {
                                            margin: 0 -8px;
                                            padding: 0;
                                            height: 34px;
                                            opacity: 1;
                                        }
                                    }
                                }


                            }

                        }

                    }
                }


            }

        }
    }


}
